<h1>Welcome, <%= current_user.first_name %></h1>


<h3>Here are some of the events at your state:</h3>

<table>
	<tr>
		<th>Name</th>
		<th>Date</th>
		<th>Location</th>
		<th>Host</th>
		<th>Action/Status</th>
	</tr>
	<% @state_events.each do |state_event| %>
	<tr>
		<td><a href="/show/<%=state_event.id%>"><%= state_event.name %></a></td>
		<td><%= state_event.date.strftime("%B %e, %Y") %></td>
		<td><%= state_event.location %></td>
		<td><%= state_event.user.first_name %></td>
		<td>

<% if state_event.user != current_user %>
  <% if state_event.users_attending.exists?(id: current_user.id) %>
  	<p>Joining</p>
  	<form action="/events/unjoin" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="event_id" value="<%=state_event.id%>">
		<input type="hidden" name="user_id" value="<%=current_user.id%>">
  		<input type="submit" value="Cancel">
  	</form>
  <% else %>
  	<form action="/events/join" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="event_id" value="<%=state_event.id%>">
  		<input type="submit" value="Join">
  	</form>
  <% end %>			
<% end %>


<% if current_user == state_event.user %>
  	<form action="edit/<%= state_event.id %>">
  		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="event_id" value="<%=state_event.id%>">
  		<input type="submit" value="Edit">
  	</form>
  	<form action="/events/destroy">
  		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="event_id" value="<%=state_event.id%>">
  		<input type="submit" value="Delete">
  	</form>  
  	<% end %>
		</td>
	</tr>
<% end %>
	</table>



<h3>Here are some of the events on other states:</h3>
<table>
	<tr>
		<th>Name</th>
		<th>Date</th>
		<th>Location</th>
		<th>State</th>
		<th>Host</th>
		<th>Action/Status</th>

	</tr>
	<% @other_events.each do |other_event| %>
	<tr>
		<td><a href="/show/<%=other_event.id%>"><%= other_event.name %></a></td></td>
		<td><%= other_event.date.strftime("%B %e, %Y") %></td>
		<td><%= other_event.location %></td>
		<td><%= other_event.state %></td>
		<td><%= other_event.user.first_name %></td>
		<td>
<% if other_event.user != current_user %>
  <% if other_event.users_attending.exists?(id: current_user.id) %>
  	<p>Joining</p>
  	<form action="/events/unjoin" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="event_id" value="<%=state_event.id%>">
		<input type="hidden" name="user_id" value="<%=current_user.id%>">
  		<input type="submit" value="Cancel">
  	</form>
  <% else %>
  	<form action="/events/join" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="event_id" value="<%=state_event.id%>">
  		<input type="submit" value="Join">
  	</form>
  <% end %>			
<% end %>


<% if current_user == other_event.user %>
  	<form action="/events/edit/<%= other_event.id %>">
  		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="event_id" value="<%=other_event.id%>">
  		<input type="submit" value="Edit">
  	</form>
  	<form action="/events/destroy">
  		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="event_id" value="<%=other_event.id%>">
  		<input type="submit" value="Delete">
  	</form>  
  	<% end %>
		</td>
	</tr>
<% end %>
</table>


<h1>Add Event</h1>

<form action="/events/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>Name:</label>
	<input type="text" name="name">
	<label>Date:</label>
	<input type="date" name="date">
	<label>Location:</label>
	<input type="text" name="location">
	<label>State:</label>
	<%= select_tag :state, options_for_select(us_states, "CA") %>
	<input type="submit" value="Create Event">
</form>
